{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    
    <form method="POST">
        {{ form.hidden_tag() }} 
        
        <div class="form-field">
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Wpisz nazwę użytkownika") }}
            {% for error in form.username.errors %}
                <span style="color: red; font-size: small;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form-field">
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Wpisz adres email") }}
            {% for error in form.email.errors %}
                <span style="color: red; font-size: small;">[{{ error }}]</span>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary") }}

        <p style="margin-top: 20px;"><a href="{{ url_for('main.user_list') }}">← Powrót do listy użytkowników</a></p>
    </form>
{% endblock %}